*{
    margin: 0;
    padding: 0;
}
.title{
    text-align: center;
    font-size: 30px;
    font-weight: bold;
}
.full{
     display: flex;
    margin-top: 100px;
}
.pic{
    margin-left: 100px;
    width: 300px;
}
.box{
    border: px solid black;
    display: grid;
    justify-content: center;
    margin-left: 250PX;
}
.part1{
    box-shadow: 0px 3px 10px 0px;
    border-radius: 7px;
    border: 0px solid black;
    margin: 0px 120px 30px 30px;
    display: flex;
    height: 120px;
    font-family: "Roboto", sans-serif;
    opacity: 50%;
}
.arrowe{
    border: 0px solid;
    height: 50px;
    padding: 34px 5px 34px 15px;
}
.para{
    grid-auto-rows: 50px;
    padding-left: 10px;
}
.para1{
    padding-top: 20px;
    font-weight: bold;
    border: 0px solid;
    font-size: 21px;
}
.para2{
    text-align: left;
    border: 0px solid;
}
.image{
    padding-left: 15px;
    padding-top: 10px;
}
@media   (max-width:480px){
    .pic{
        display: none;
    }
    .part1{
        height: 138px;
    }
    .title{
        font-size: 25px;
        justify-content: center;
    }
    .box{
        display: grid;
        justify-content: center;
    }
}
.part1:hover{
    opacity: 100%;
}
.box.part1:hover{
    opacity: 0.3px;
}
.box:hover.part1{
    opacity: 1px;
}